<div class="app-stock-table">
  <p>
    top item
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    stock-table works!
  </p>
  <p>
    bottom item
  </p>
</div>